*{
    font-family: arial;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.pokemon-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.pokemon-card{
    border: 1px solid #ddd;
    padding:1rem;
    border-radius:.5rem;
    box-shadow:3px 3px 5px #acacac;
    margin-bottom: 1rem;
}

.pokemon-card .pokemon-name{
    text-align: center;
    text-decoration: underline;
}

.pokemon-card .pokemon-stats{
    list-style: none;
    padding: 0;
}

.pokemon-card .pokemon-stats li{
    padding: .5rem 1rem;
    border: 1px solid #ddd;
}